*{
    margin: 0;
    padding: 0;
}
.container{
    width: 300vw;
    transition: transform 0.5s;
    /* transform: translate(-100vw); */
    display: flex;
}
.inner{
    width: 100vw;
    /* display: flex; */
   
}

.inner img{
    width: 100%;
}